/* body {
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59 / var(--tw-bg-opacity));
} */
.sidebar {
    height: 100%;
}

.shapedivider {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.shapedivider .shape-fill {
    fill: #5b21b6;
}